@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  background-color: black;
}

/* styles/globals.css */

/* Custom CSS to hide the scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
.no-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

    background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Change the toolbar text and icon color to white */
.ql-toolbar {
  background-color: #1e293b; /* Dark background */
  border: 2px solid #8b5cf6; /* Purple border */
  color: #ffffff; /* White text color */
}

.ql-toolbar .ql-stroke, .ql-toolbar .ql-fill, .ql-toolbar .ql-picker, .ql-toolbar .ql-picker-options, .ql-toolbar .ql-picker-item {
  color: white; /* Toolbar text/icons */
  fill: white;  /* Fill color for toolbar icons */
}

/* Change the editor's border color to purple */
.ql-container {
  border: 2px solid #8b5cf6; /* Purple border */
}

/* Customize the placeholder text color */
.ql-editor::before {
  color: #9ca3af; /* Gray placeholder text color */
}

/* Customize the editor background and text color */
.ql-editor {
  background-color: #374151; /* Dark background */
  color: white; /* Editor text color */
}


